html {
    background-color: #131516;
}

@media (max-width: 800px) {
    body {
        max-width: 100%;
    }
}

@media (min-width: 801px) {
    body {
        max-width: 65%;
    }
}

body {
    margin: 0 auto;
    font-family: "Ubuntu", sans-serif;
    border-radius: 30px 30px 0px 0px;
    border: 1px solid rgb(59, 64, 66);
    padding: 1em;
    background-color: rgb(31, 33, 35);
    color: rgb(197, 192, 185);
}

body b {
    color: white;
}

pre {
    font-family: monospace;
    background-color: black;
    box-shadow: none;
}

pre.src {
    position: relative;
    overflow-x: auto;
}

pre.src::before {
    color: black;
}

a {
    // color: #1ece6d;
    // color: #778899;
    // color: #a020f0;
    // color: #f4a460;
    color: #a4d3ee;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #d33682;
    text-align: center;
}

h2 {
    color: #ffd966;
    text-align: center;
}

p.autor {
    margin-top: -1em;
    font-size: small;
}

/* TOC inspired by http://jashkenas.github.com/coffee-script */
/* https://stackoverflow.com/questions/12232675/how-to-make-table-of-contents-floating */

#table-of-contents {
    font-size: 10pt;
    position: fixed;
    z-index: 1000000;
    background: rgba(0, 0, 0, 0.8);
    right: 0em;
    top: 3em;
    color: white;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto;
    line-height: 1em;
}

/* https://www.thedevspace.io/course/htmlcss-lists */

#table-of-contents h2 {
    font-size: 10pt;
    max-width: 8em;
    font-weight: normal;
    padding-left: 0.5em;
    padding-left: 0.5em;
    padding-top: 0.05em;
    padding-bottom: 0.05em;
}
#table-of-contents li {
    margin: 3px 0;
    color: orange;
}
#table-of-contents ul {
    padding-left: 2em;
    list-style-type: disc;
}
#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}
#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}

.codigo {
    background-color: black;
    color: #e0e0d1;
    border-radius: 4px;
    border: 1px #0099cc solid;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    margin-left: 8%;
    margin-right: 8%;
}
.codigo code {
    border: none;
    background: none;
    color: #e0e0d1;
}
.codigo .tripleclick {
    display: inline-block;
    height: 0;
    wight: 0;
}

img {
    width: 100%;
    height: auto;
    border: 1px black solid;
    border-radius: 4px;
}

nav {
    display: flex;
}

nav * {
    text-decoration: none;
    margin: 0;
}

nav span {
    background-color: rgb(26, 28, 30);
    padding: 10px;
    border-radius: 20px 0px 0px 0px;
}

nav ul {
    background-color: rgb(26, 28, 30);
    padding: 10px;
    border-radius: 0px 20px 0px 0px;
}

nav li {
    display: inline;
    padding: 6px;
}

nav li a {
    color: #b2ffd9;
}

.vacio-nav {
    flex: 1 1;
    border-radius: 0px;
}

footer {
    margin: calc(var(--gap) * 2) 0 var(--gap) 0;
    padding-top: 10px;
    font-size: 0.85rem;
    text-align: center;
}

#preamble {
    min-height: 10vh;
    flex: 1;
}

#content {
    min-height: 80vh;
    flex: 1;
}

#postamble {
    flex: 1;
    position: relative;
}

#postamble .status {
    position: absolute;
    bottom: 0;
    width: 100%;
}
